{% extends 'base.html'%} {% load static%} {% load crispy_forms_tags %} {% block content%}
<img style="height:600px; width: 100%; " class="" src="{% static '/img/logo1.jpg' %}"
            alt="First slide">

            <div class="centered ">
                <h1> <b>Learn more about our church</b> </h1>
                <h2 style="color: blue;">It is only By His Grace that We are Here.</h2>
            </div>

            <div class="row" style="background-color: #eee; margin-top: 3%; margin-left: 5%; margin-right: 5%;">
                <div class="col-md-4">
                    <div class="belief">
                        <h3 style="text-align: center; color: rgb(18, 35, 182);">Our Belief</h3>
                        <p style="font-size: large;" class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum
                            has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley
                            of type and scrambled it to make a type specimen e centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged.Some quick example
                            text
                            to build on the card title and make up the bulk of the card's content.</p>
                    </div>
            
                </div>
            
                <div class="col-md-4">
                    <div class="belief">
                        <h3 style="text-align: center; color: rgb(18, 35, 182);">Our Mission</h3>
                        <p style="font-size: large;" class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum
                            has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley
                            of type and scrambled it to make a type specimen e centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged.Some quick example
                            text
                            to build on the card title and make up the bulk of the card's content.</p>
                    </div>
            
                </div>
                <div class="col-md-4">
                    <div class="belief">
                        <h3 style="text-align: center; color: rgb(18, 35, 182);">Our Story</h3>
                        <p style="font-size: large; text-overflow: ellipsis; " class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum
                            has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley
                            of type and scrambled it to make a type specimen e centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged.Some quick example
                            text
                            to build on the card title and make up the bulk of the card's content.</p>
                    </div>
            
                </div>
            </div>
{%endblock%}